/* vant 覆盖样式 */
.van-dialog .van-button{
  font-size: 18px !important;
  /* color: #0CB7F5 !important; */
}
.van-dialog__message {
  font-size: 18px !important;
}
.van-dialog__cancel {
  color: #BBBBBB !important;
}
.van-dialog__confirm {
  color: #0CB7F5 !important;
}

.van-dialog__header{
  font-size: 18px !important;
}

.van-cell{
  font-size: 16px !important;
}
.van-cell__title, .van-field__label{
  color: #2A2A2A !important;
}
.van-cell__value{
  color: #323233 !important;
}
.un-select .van-cell__value{
  color: #CCCCCC !important;
}
.van-picker-column__item{
  font-size: 18px !important;
}
.van-picker__cancel, .van-picker__confirm{
  font-size: 18px !important;
  color: #BBBBBB !important;
}
.van-picker__confirm{
  color: #0CB7F5 !important;
}
.van-picker__toolbar{
  height: 57px !important;
  border-bottom: 1px solid #E8E6E6 !important;
}
.van-picker__title{
  font-size: 16px !important;
  color: #999999 !important;
}
.van-picker-column{
  z-index: 3 !important;
}
.van-picker__mask{
  z-index: 3 !important;
}
.van-picker__frame{
  z-index: 2 !important;
  left: 0 !important;
  right: 0 !important;
  background-color: #a79f9f2e !important;
}